.style-3 {

	.swatch {
		&:nth-child(1) {
			background-color: $primary-color-3;
		}
		
		&:nth-child(2) {
			background-color: $secondary-color-3;
		}
		
		&:nth-child(3) {
			background-color: $wash-color-3;
		}
				
		&:nth-child(4) {
			background-color: $alert-color-3;
		}
		
		&:nth-child(5) {
			background-color: $success-color-3;
		}
	}
}
