<article class="article full">	
	<header class="full">
		<div class="row">
			<div class="relative">
				
				<div class="hgroup large-9 large-centered columns">
					<div class="meta">
						<span class="type">Policy Brief</span><span><a href="#">Economics</a></span>
					</div>
					<h2>Capitalists That Have Gone Too Far </h2>
					<p class="byline">Khalil Nakhleh <time>June 2nd, 2014</time></p>
				</div>
					
				<figure class="hero">
					<img src="/images/story1.jpg">
				</figure>
			</div>
		</div>
	</header>
	
	<div class="row">
		<div class="large-9 large-centered columns">
				<p>A powerful group of Palestinian capitalists is thriving in the occupied Palestinian territory even as most of the population is struggling to survive. Too often, they owe their wealth to economic collaboration with Israel. Drawing on recent research, Al-Shabaka Policy Member Tariq Dana analyzes the ways in which these "crony capitalists" influence policy, use indebtedness for social control, and normalize the occupation. Click below for the full brief or read the executive summary..</p>
			
				<blockquote>
					<p>Some PLO factions, particularly Fatah, saw the Palestinian capitalist class as a "national bourgeoisie" and as such an indispensable part of the anti-colonial struggle and dealt with it accordingly.</p>
				</blockquote>
		</div>
	</div>
</article>
