<article class="article full">
	<header class="full row">
		<figure class="hero relative">
				<div class="overlay">
					<div class="row">
						<div class="large-8 large-centered columns overflow">
							<div class="hgroup overflow">
								<div class="meta">
									<span class="type">Policy Brief</span><span class="category"><a href="#">Economics</a></span>
								</div>
								<h2>The Palestinian Capitalists That Have Gone Too Far </h2>
								<p class="byline">by Tariq Dana <time>January 14th, 2014</time></p>
							</div>
						</div>
					</div>
				</div>
			<img src="/images/story1.jpg">
		</figure>
	</header>
	
	<div class="row relative">
		<div class="post large-8 large-centered columns">
			<blockquote>
			<p>While most Palestinians living under Israeli occupation are struggling to survive, a powerful group of Palestinian capitalists is thriving and growing in political, economic and social influence. The cost, all too often, is their engagement in economic normalization projects. In other words, they deal with the Israelis as though they were a "normal" business partner rather than an occupying power that has ruthlessly violated Palestinian rights for over 65 years.</p>
			</blockquote>
			
				<p>In this policy brief, Al-Shabaka Policy Member Tariq Dana sheds light on the ways in which these Palestinian capitalists exercise political influence and social control and gives examples of the economic normalization projects in which they have engaged.</p>
			
			<h3>A Snapshot of Palestinian Capital</h3>
			<p>The presence of Palestinian businessmen in the political sphere predates the establishment of the Palestine Liberation Organization (PLO). After the PLO's foundation, Palestinian capitalists played a variety of roles in the national liberation movement. Some PLO factions, particularly Fatah, saw the Palestinian capitalist class as a "national bourgeoisie" and as such an indispensable part of the anti-colonial struggle and dealt with it accordingly.</p>
			
			<p>At the time, Palestinian capitalists' engagement with the PLO included funding, occupying leading PLO positions, and political mediation. For example, Palestinian businessmen mediated between the PLO leadership and the Jordanian regime during Black September and between the PLO leadership and the American administration during the 1980s. Many were also philanthropists who supported charitable, educational and socio-economic projects. A landmark in this regard was the establishment of the Welfare Association in 1983, a much-needed boost to the Palestinian national project in the educational and socio-economic spheres after the bulk of Palestinian guerrillas were expelled from their base in Lebanon during the 1982 Israeli invasion launched by the late prime minister Ariel Sharon.</p>
			
				<p>Since Oslo, and particularly in recent years, the influence of Palestinian capitalists in the occupied territory has been rising in an unprecedented manner. They can be divided into three main groups:</p>
				
				<ul>
				<li>"Returnee" capitalists, comprised of a Palestinian bourgeoisie that had emerged in the Arab countries, particularly the Gulf states, as well as in North America and Europe. Many of these businessmen had strong ties to the nascent Palestinian Authority.</li>
				<li>Local capitalists, comprised of two main subgroups: large landowners who historically enjoyed considerable political and social influence over traditional social structures; and local interlocutors who accumulated wealth as subcontractors for Israeli companies after the 1967 occupation.</li>
				<li>The nouveau riche, who acquired wealth in more recent times and who particularly benefited from the Oslo process in various ways as will be discussed further down.</li>
				</ul>
				
				<h3>Influencing the Policy Process</h3>
				
				<p>Like other Palestinians, businessmen have <a href="#">struggled with statelessness</a> and sought the security that a state would provide, where their companies and profits would be better protected from regional instability and threats. Thus, many of them supported the Oslo accords as a key step towards establishing a Palestinian state, some even imagining that Oslo's "peace dividends" would transform the West Bank and Gaza into the Singapore of the Middle East.</p>

				<p>Early signs of capitalist influence on the nascent Palestinian Authority (PA) can be seen in Article 21 of the Palestinian basic law, which specifies that "the economic system in Palestine shall be based on the principles of a free market economy" (author's italics.) Paradoxically, even the United States, the global driver of free market capitalism, has a constitution that is flexible enough to allow for different responses to specific economic circumstances. The open espousal of neoliberalism by the PA has helped to create an institutional framework that enables economic interest groups to manipulate policies in the service of private ends.</p>
				
				<p>Neoliberalism combined with political authoritarianism and corruption reinforced and consolidated what can be described as the PA's crony capitalism. From the earliest days, the PA's cronyism was expressed in special relations between powerful businesspeople and the PA political and security elite. This system naturally had adverse effects on the economy: By favoring privileged political and economic groups it systemically impeded market competitiveness and excluded the majority of the people's access to meaningful economic opportunity.1 Indeed, the ability of capitalists to exert influence over government policies was further strengthened and politicians further enriched.</p>
				
				<p>During the 1990s, the special relationship between certain Palestinian capitalists and ruling political circles within the PA led to the centralization of political and economic power in the hands of a few individuals who rapidly managed to transform the national project into a game of interest politics. This was especially the case with regard to the PA elite's political and security collusion with Diaspora conglomerates in managing large-scale public-private monopolies. Monopolies protected by the PA involved over 25 key imported commodities, including flour, sugar, oil, frozen meats, cigarettes, live animals, cement, aggregate, steel, wood, tobacco, and petroleum.</p>
				
				<p>These monopolies were not only an early sign of PA corruption but also the most obvious expression of the emergent political-economic alliance that found in the PA an effective political mechanism for achieving private economic interests. Furthermore, monopolies were also selectively granted to those Palestinian political-economic actors that enjoyed special proximity to Israeli companies. As a consequence, monopolies have had a devastating impact on the Palestinian economy and small-businesses, and, conversely, benefited the Israeli economy. A number of former Israeli political and military officials became, after their retirement, business partners of some Palestinian capitalists and PA political elites. In return, Israel offered the Palestinian businessmen and politicians special privileges such as access to permits, more freedom of movement and trade and the VIP pass status.</p>
				
				<p>With the appointment of the former Prime Minister Salam Fayyad and the government programs he introduced since 2008, the capitalists' influence over the political establishment increased. Businessmen and pro-capitalist technocrats often occupied key ministerial positions in Fayyad's governments.</p>
				
				<p>The "reform" of the banking sector that took place under Fayyad's governance is an important aspect of rising capitalist political influence. These reforms made it possible for the government to contract long-term loans that amounted to some $4.2 billion in 2013 according to a recent estimate: That is as much as 50% of the GDP, with annual interest running at $200 million. For an economy largely dependent on international aid this high level of public-sector indebtedness is alarming indeed. The ways in which the money was spent and how the PA will pay off its debts remains a mystery.</p>
				
				<p>Furthermore, the high level of public debt enables capitalists to pressure the PA to adjust its policies in conformity with the interests of large private firms by threatening to withdraw some investments or to hold back others, as Alaa Tartir noted in a recent study. Needless to say, the people pay the cost, e.g. when the PA raised income tax and cut expenditure in early 2012.</p>
				
				<p>These Palestinian capitalists' role has even become prominent in the international political sphere. They put their weight behind US Secretary of State John Kerry's efforts to drive through a peace settlement with their joint Palestinian-Israeli Breaking the Impasse plan despite the dire impact this would have on Palestinian rights. Moreover, the plan was reportedly prepared without the participation of either Palestinian civil society or the PA itself.</p>
				
				<p>This suggests that local Palestinian crony capitalists have become the primary recipient of international "peace" initiatives. It is difficult to believe that any peace plan they manage would contribute to the Palestinian question for self-determination, freedom, and justice. Rather, it is more likely to be just another lucrative opportunity for those benefiting from the ongoing status quo.</p>
				
				
		</div>
		
		<%= partial "shared/_share" %>
		
		<div class="page-nav large-1 columns">
			<a href="#">
				Next <span class="icon-arrow-right"></span>
			</a>
		</div>
	</div>
</article>
