<article class="article overlap">	
	<header class="full">
		<div class="row">
			<div class=" large-12 columns">
				<figure class="relative hero">
					
					<div class="hgroup overflow">
						<div class="meta">
							<span class="type">Policy Brief</span>
							<span class="category"><a href="#">Economics</a></span>
						</div>
						<h3>Capitalists That Have Gone Too Far </h3>
						<p class="byline">by Khalil Nakhleh <time>June 2nd, 2014</time></p>
					</div>
					
					<img src="/images/story1.jpg">
				</figure>
			</div>
		</div>
	</header>
</article>
