<article class="article offset">	
	<header class="full">
		<div class="row">
			<div class=" large-12 columns">
				<figure class="relative hero">
					
					<div class="hgroup overflow">
						<div class="meta">
							<span class="type">Policy Brief</span>
							<span class="category"><a href="#">Economics</a></span>
						</div>
						<h3>Ballin so Hard </h3>
						<p class="byline">by Khalil Nakhleh <time>June 2nd, 2014</time></p>
					</div>
					
					<img src="http://placehold.it/1200x600">
				</figure>
			</div>
		</div>
	</header>
	
	<div class="row">
		<div class="large-12 columns">
				<p>The Elements is the prime example of an axiomatic system from the ancient world. Its form has shaped centuries of mathematics. An axiomatic system should begin with a list of the terms that it will use. This definition says that one term that will be used is that of point. The next few definitions give some more terms that will be used. Although there is some description to go along with the terms, that description is actually never used in the exposition of the axiomatic system. It can, at most, be used to orient the reader.</p>
			
				<blockquote>
					<p>The description of a point, “that which has no part,” indicates that Euclid will be treating a point as having no width, length, or breadth, but as an indivisible location.</p>
				</blockquote>
		</div>
	</div>
</article>
