<article class="article aside clearfix">
	<figure class="thumb">
		<a href="" class=""><img src="http://placehold.it/120x120"></a>
	</figure>
	
	<div class="inner">
		<div class="meta">
			<span class="type">Policy Brief</span>
			<span class="category"><a href="#">Economics</a></span>
		</div>
		<h6><a href="http://foundation.zurb.com/docs">What's Stopping the 3rd Intifada?</a></h6>
		<p>by Ali Abunimah</p>
	</div>
</article>