	<article class="author">
		<h4 class="h-section">About the Author</h4>
		<figure class="avatar">
			<img src="http://al-shabaka.org/sites/default/files/imagecache/profile_full/sabdelnour2.jpg">
		</figure>
		
		<div class="inner large-10 columns right">
			<h5><a href="http://foundation.zurb.com/docs">Samer Abdelnour</a></h5>
			<p>Samer Abdelnour is an Assistant Professor at the Rotterdam School of Management. His research crosses a number of broad fields including social enterprise, organizational theory, globalization and political sociology. Contextually, he has been conducting field research on fuel-efficient stoves and the humanitarian response in Darfur, post-war reintegration of ex-combatants in the Blue Nile, and collective enterprise approaches for marginalized peoples under conflict and discrimination in Darfur. He completed a PhD at the London School of Economics in 2014.</p>
		</div>
	</article>