<ul class="top-menu">
	<li class="selected"><a href="#">Square</a></li>
	<li><a href="#">Circle</a></li>
	<li><a href="#">Triange</a></li>
</ul>

<ul class="primary-menu">	
	<li><a href="#">Chapter 1</a></li>
	<li><a href="#">Chapter 2</a></li>
	<li><a href="#">Chapter 3</a></li>
	<li><a href="#">Chapter 4</a></li>
	<li><a href="#">Chapter 5</a></li>
</ul>
