<aside class="panel lined">
	<h5>Advisors & Members</h5>
	
	<article class="author aside clearfix">
		<figure class="avatar thumb">
			<a href="" class=""><img src="http://placehold.it/100x100"></a>
		</figure>
		
		<div class="inner">
			<h6><a href="http://foundation.zurb.com/docs">Samer Abdelnour</a></h6>
			<p>Assistant Professor at the Rotterdam School of Management </p>
		</div>
	</article>
	
	<article class="author aside clearfix">
		<figure class="avatar thumb">
			<a href="" class=""><img src="http://placehold.it/100x100"></a>
		</figure>
		
		<div class="inner">
			<h6><a href="http://foundation.zurb.com/docs">Ali Abunimah</a></h6>
			<p>Writer and commentator on Middle East and Arab American affairs</p>
		</div>
	</article>
	
	<article class="author aside clearfix">
		<figure class="avatar thumb">
			<a href="" class=""><img src="http://placehold.it/100x100"></a>
		</figure>	
		
		<div class="inner">
			<h6><a href="http://foundation.zurb.com/docs">Oroub el-Abed</a></h6>
			<p>PhD student in Development Studies at the University of London</p>
		</div>
	</article>
</aside>
