<aside class="panel lined">
	<h5>Media & Outreach</h5>
	
	<article class="author aside clearfix">
		<figure class="avatar thumb">
			<a href="" class=""><img src="http://placehold.it/100x100"></a>
		</figure>
		
		<div class="inner">
			<h6><a href="http://foundation.zurb.com/docs">How Israel Targets Its Palestinian Christian Citizens</a></h6>
			<p>via Huffington Post </p>
		</div>
	</article>
	
	<article class="author aside clearfix">
		<figure class="avatar thumb">
			<a href="" class=""><img src="http://placehold.it/100x100"></a>
		</figure>
		
		<div class="inner">
			<h6><a href="http://foundation.zurb.com/docs">Between the Devil and the Deep Blue Sea</a></h6>
			<p>via the Hill</p>
		</div>
	</article>
	
	<article class="author aside clearfix">
		<figure class="avatar thumb">
			<a href="" class=""><img src="http://placehold.it/100x100"></a>
		</figure>	
		
		<div class="inner">
			<h6><a href="http://foundation.zurb.com/docs">Re-inventing European Aid to Palestine</a></h6>
			<p>via European Council on Foreign Relations</p>
		</div>
	</article>
</aside>