<div class="row">
	<nav class="tab-menu large-12 columns">
		<ul class="inline-list">
			<li><a href="/">Style A</a></li>
			<li><a href="/style2.html">Style B</a></li>
			<li><a href="/style3.html">Style C</a></li>
		</ul>
	</nav>
</div>
